.card {
  background: #f9f9f9;
  text-align: center;
  place-content: center;
  place-items: center;
  height: 200px;
  width: 200px;
  border: 1px solid #ddd;
  border-radius: 6px;
}

/* wadah/parent flexbox */
.flexbox-area {
    /* wajib area flex */
    display: flex;
    /* atur arah flex items */
    /* flex-direction: row-reverse */
    /* defult = row */
    flex-direction: row;
    /* atur jarak antar items */
    gap: 12px;
    /* atur posisi horizontal */
    /* defult = flex-star (flex-end, center, space-between) */
    justify-content: center;
    /* atur penempatan items */
    /* defult = flex-star (flex-end, center, stretch, dll) */
}

.pro-blue {
    border: 2px solid blue;
    width: 300px;
    height: 230px;
}

.alert-info {
    background: cyan;
    justify-content: space-between;
    padding: 10px;
}

.alert-info button {
    font-size: 12px;
    background: aquamarine;
}